In [7]:
import psycopg2

# Database credentials
DB_PARAMS = {
    "dbname": "postgres",
    "user": "postgres",
    "password": "HyfCW95WnwmXmnQpBmiw",
    "host": "10.149.20.40",
    "port": 5432,
}

# Connect to the database
try:
    conn = psycopg2.connect(**DB_PARAMS)
    print("Connected to the database!")
except Exception as e:
    print(f"Error: {e}")
    exit()

# Create a cursor to execute queries
cursor = conn.cursor()

# List all tables in the database
cursor.execute("""
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public';
""")
tables = cursor.fetchall()

print("Tables in the database:")
for table in tables:
    print(table[0])

Connected to the database!
Tables in the database:
tracking_frame_feature
tracking_relationship
task_key_value
alembic_version
camera
video
video_feature
tracking
video_relationship
task
tracking_feature

In [8]:
table_name = 'task'
cursor.execute(f"SELECT * FROM {table_name} LIMIT 5;")
rows = cursor.fetchall()

print("\nSample rows:")
for row in rows:
    print(row)

Sample rows:
(1, 1, 'track', 'body', 'completed', 0, datetime.datetime(2024, 5, 18, 20, 41, 5, 144162))
(3, 1, 'predict', 'face_45', 'completed', 0, datetime.datetime(2024, 5, 18, 20, 41, 10, 889827))
(4, 1, 'correlate', 'face_45', 'completed', 0, datetime.datetime(2024, 5, 18, 20, 41, 11, 251001))
(2, 1, 'predict', 'face_90', 'completed', 0, datetime.datetime(2024, 5, 18, 20, 41, 16, 828524))
(5, 1, 'correlate', 'face_90', 'completed', 0, datetime.datetime(2024, 5, 18, 20, 41, 17, 165613))

In [9]:
import pandas as pd

# Fetch data from the database into a DataFrame
query = f"SELECT * FROM {table_name} LIMIT 100;"
data = pd.read_sql(query, conn)

# Display interactive table
from IPython.display import display
display(data)

/tmp/ipykernel_343104/686801398.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, conn)

,task_id,video_id,task_type,task_subtype,status,retries,updated_at
0,1,1,track,body,completed,0,2024-05-18 20:41:05.144162
1,3,1,predict,face_45,completed,0,2024-05-18 20:41:10.889827
2,4,1,correlate,face_45,completed,0,2024-05-18 20:41:11.251001
3,2,1,predict,face_90,completed,0,2024-05-18 20:41:16.828524
4,5,1,correlate,face_90,completed,0,2024-05-18 20:41:17.165613
...,...,...,...,...,...,...,...
95,60,12,correlate,face_90,completed,0,2024-05-18 20:51:12.227565
96,360,72,correlate,face_90,completed,0,2024-05-18 21:02:36.612836
97,70,14,correlate,face_90,completed,0,2024-05-18 20:51:12.232261
98,35,7,correlate,face_90,completed,0,2024-05-18 20:51:12.245280
99,65,13,correlate,face_90,completed,0,2024-05-18 20:51:12.259224